#playlist-viz-header {
  margin-bottom: 5%;
}

#playlist-id-form {
  padding-top: 50%;
}

#radar-chart-container {
  height: 400px;
  text-align: center;
  margin-top: 15%;
}

.spinner-border {
  margin-left: 50%;
  margin-top: 5%;
  width: 4rem;
  height: 4rem;
}
